<settings>
  <servers>
    <server>
      <id>nexus-releases</id>
      <url>http://172.31.25.235:8081/repository/maven-snapshots/</url>
      <username>admin</username>
      <password>admin</password>
    </server>
    <server>
      <id>nexus-snapshots</id>
      <url>http://172.31.25.235:8081/repository/maven-snapshots/</url>
      <username>admin</username>
      <password>admin</password>
    </server>
  </servers>
</settings>
